.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(64, 64, 187);
    padding: 10px 20px;
    border-bottom: 2px solid #ccc;
}

.header > div > a {
    color: white;
    
}


.logo a {
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.logo a:hover {
    color: #007bff;
}


.navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.navbar ul li a:hover {
    color: #007bff;
}


.container {
    display: flex;
    margin-top: 20px; /
}



.container {
    display: flex;
}


.sidebar {
    width: 20%;
    padding: 20px;
    background-color: white;
}

.sidebar h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li button {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(64, 64, 187);
    color: white;
}


.product-list {
    width: 80%;
    padding: 20px;
}


#products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}


.product-item {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; 
    align-items: center;   
}

.product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px; 
}

.product-name {
    font-weight: bold;
    margin-bottom: 10px;
}

.product-price {
    color: green;
    margin-bottom: 10px;
}

.product-rating {
    color: gold;
}

/* Footer styles */
.footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: rgb(64, 64, 187);
    color: white;
}

.footer-column {
    flex: 1;
    padding: 10px;
}

.footer-column h3 {
    font-size: 1.2em;
    color: #f5c94e; /* Yellowish color for headers */
    margin-bottom: 10px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

/* Responsive for smaller screens */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }
}
